body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0%;
}
html{
    height: 100%;
    width: 100%;
}
.bg{
    background-image: url(./upside\ down.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}